<form name="myForm" ng-submit="myForm.$valid && todo.addTask()" novalidate>
  <div class="form-group" ng-class="{'has-error': !todo.newTask.name}">
  <label class="control-label">name</label>
  <input class="form-control" type="text" ng-model="todo.newTask.name" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !todo.newTask.desc}">
  <label class="control-label">description</label>
    <input class="form-control" type="text" ng-model="todo.newTask.desc" required>
</div>
  <div class="form-group" ng-class="{'has-error': !todo.newTask.due}">
  <label class="control-label">due date</label>
    <input class="form-control" type="name" name="date" ng-model="todo.newTask.due" bs-datepicker>
</div>
 <div class="form-group" ng-class="{'has-error': !todo.newTask.priority}">
  <label>priority</label>
    <select ng-model="todo.newTask.priority">
  <option value="{{val}}" ng-repeat="(val, text) in todo.priorityOptions">
  {{text}}
  <input type="submit" value="add task" ng-disabled="myForm.$invalid">
</form
