<!DOCTYPE html>
<html lang="en-US" ng-app="myToDoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Angular Todo App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container" ng-controller="TodoController as todoCtrl">
      <h1>My task list</h1>
      <form name="myForm" ng-submit="myForm.$valid && todoCtrl.addTask()" novalidate>
        <div class="form-group" ng-class="{'has-error': !todoCtrl.newTask.name}">
        <label class="control-label">name</label>
        <input class="form-control" type="text" ng-model="todoCtrl.newTask.name" required>
        </div>
        <div class="form-group" ng-class="{'has-error': !todoCtrl.newTask.desc}">
        <label class="control-label">description</label>
          <input class="form-control" type="text" ng-model="todoCtrl.newTask.desc" required>
      </div>
        <div class="form-group" ng-class="{'has-error': !todoCtrl.newTask.due}">
        <label class="control-label">due date</label>
          <input class="form-control" type="date" ng-model="todoCtrl.newTask.due">
      </div>
       <div class="form-group" ng-class="{'has-error': !todoCtrl.newTask.priority}">
        <label>priority</label>
          <select ng-model="todoCtrl.newTask.priority">
        <option value="{{val}}" ng-repeat="(val, text) in todoCtrl.priorityOptions">
        {{text}}
        <input type="submit" value="add task" ng-disabled="myForm.$invalid">
      </form>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="task in todoCtrl.tasks">
            <td><img class="todoImg" ng-src="{{task.image}}"></td>
            <td>{{task.name}}</td>
            <td>{{task.desc}}</td>
            <td>{{task.due | date: "shortDate"}}</td>
            <td>{{task.priority}}</td>
            <td><button ng-click="todoCtrl.deleteTask(task)">delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
