<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(taskId, task) in todo.tasks">
      <td><img class="todoImg" ng-src="{{task.image}}"></td>
      <td>{{task.name}}</td>
      <td>{{task.desc}}</td>
      <td>{{task.due | date: "shortDate"}}</td>
      <td>{{task.priority}}</td>
      <td>
        <a href="/#/{{taskId}}" class="btn btn-primary">Show</a>
        <a href="/#/{{taskId}}/edit" class="btn btn-primary">Edit</a>
      <td><button ng-click="todo.deleteTask(taskId)">delete</button></td>
    </tr>
  </tbody>
</table>
